<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;And God shall wipe away all tears from their eyes; and there shall be no more death, neither sorrow, nor crying, neither shall there be any more pain: for the former things are passed away.&quot; - Revelation 21:4 (KJV)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>footerText</key>
			<string>So the fun begins!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.rishima</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Volume HUD Options</string>
			<key>footerText</key>
			<string>Added these because they were requested ¯\_(ツ)_/¯ . </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ikilledappl3.rishima</string>
			<key>key</key>
			<string>kUseVolumeHUD</string>
			<key>label</key>
			<string>Use iOS 13 Volume HUD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dark Mode for Ringer HUD</string>
			<key>footerText</key>
			<string>Use this option to give the Ringer HUD UI a dark appearance.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ikilledappl3.rishima</string>
			<key>key</key>
			<string>kDarkMode</string>
			<key>label</key>
			<string>Dark Ringer HUD</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Follow me on Twitter for support or just to follow!</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>big</key>
			<string>56</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>iKilledAppl3</string>
			<key>user</key>
			<string>iKilledAppl3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Please consider donating it helps a lot!</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate via PayPal</string>
			<key>url</key>
			<string>https://www.paypal.me/iKilledAppl3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply Changes</string>
			<key>footerText</key>
			<string>Respring is needed to apply changes.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>doAFancyRespring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Rishima © 2019 J.K. Hayslip (iKilledAppl3/ToxicAppl3 INSDC). All rights reserved. Romans 3:10</string>
		</dict>
	</array>
	<key>title</key>
	<string>Rishima</string>
</dict>
</plist>
